<launch>
    <!-- Gazebo/ROS settings -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find hazardous_zones)/worlds/hazardous_zones.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    

    <!-- Robot husky settings -->
    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="x" value="7" />
        <arg name="y" value="6.6" />
        <arg name="z" value="3" />
    </include>

    <!-- Launch RViZ -->
    <node type="rviz" name="rviz" pkg="rviz"
        args="-d $(find hazardous_zones)/rviz/usar_modeling.rviz" />
</launch>